<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/join.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Gulzar&display=swap" rel="stylesheet" />
    <title>Mayday : 회원가입</title>
</head>
<body>
<div class="container">
    <div class="header">
        <h1 class="logo_mayday">
            <a href="../mainpage/mayday.html" class="link">
                <img src="../../image/logo_mayday2.png" alt="Logo">
            </a>
        </h1>
    </div>

    <!-- Form을 추가하고 submit을 JavaScript로 처리 -->
    <form id="join-form">
        <div class="information">
            <input type="text" id="user_id" name="user_id" placeholder="ID" required />
            <input type="password" id="user_pw" name="password" placeholder="PASSWORD" required />
            <input type="text" id="user_name" name="name" placeholder="NAME" required />
            <input type="text" id="user_birthdate" name="birthdate" placeholder="BIRTHDATE" required />
            <input type="email" id="user_email" name="email" placeholder="EMAIL" required />
            <input type="text" id="user_hpn" name="phone_number" placeholder="Mobile phone number" required />
            <div class="join__button">
                <input type="submit" value="회원가입" id="join" />
            </div>
        </div>
    </form>
</div>
</body>
<script src="../../js/join.js"></script>
</html>
