<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mayday - Account Book</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../../static/css/accountbook.css" />
    <script src="../../static/js/accountbook.js"></script>
    <script src="../../static/js/friendswindow.js"></script>
    <link rel="stylesheet" href="../../static/css/friendswindow.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>
<body>
    <div class="container">
        <!-- 상단 카테고리 -->
        <div class="header">
            <span class="left-span">
                <a href="../mainpage/mayday.html" class="link">
                    <img src="../../static/image/logo_mayday2.png" alt="Logo">
                </a>
            </span>
            <span class="right-span">
                <div class="menu-item">
                    Category
                    <div class="submenu" id="submenu1">
                        <div onclick="window.location.href='../mainpage/calendarpage.html'">Calendar</div>
                        <div onclick="window.location.href='../accountbook/accountbook.html'">AccountBook</div>
                        <div onclick="window.location.href='../record/record.html'">Record</div>
                    </div>
                </div>
                <div class="menu-item">Guide</div>
                <div class="menu-item">Community
                    <div class="submenu" id="submenu3">
                        <div id="friends-option">Friends</div> <!-- friends-option 클릭 시 모달 띄우기 -->
                        <div onclick="window.location.href='../group/group.html'">Groups</div>
                        <div>Share</div>
                    </div>
                </div>
                <div class="menu-item">Setting
                    <div class="submenu" id="submenu4">
                        <div>Setting</div>
                        <a href="../login/login.html">Logout</a>
                    </div>
                </div>
            </span>
        </div>

        <!-- 메인 콘텐츠 -->
        <div class="maincontent">
            <div class="journal-list">
                <h2>날짜별 정리</h2>
                <ul id="dateEntries">
                    <!-- 날짜별 정리된 리스트가 여기 표시됩니다 -->
                </ul>
                <div id="total-amount"></div>
            </div>
            <div class="main">
                <h2>Account Book</h2>
                <div class="table-container">
                    <table id="accountTable">
                        <thead>
                            <tr>
                                <th>날짜</th>
                                <th>사용처</th>
                                <th>금액</th>
                                <th>삭제유무</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- 초기에는 행이 없음 -->
                        </tbody>
                    </table>
                    <div class="button-container">
                        <button class="add-row-btn">Add</button>
                        <button class="save-btn">Save/Update</button>
                        <button class="clear-btn">New</button>
                        <ul id="dateEntries" class="date-entries"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="friends-modal-overlay" id="friends-modal-overlay">
            <div class="friends-window">
                <div class="friends-window__area">
                    <div class="friends-window__head">
                        <div class="friends-plus"> 
                            <div class="material-icons">person_add</div>    
                        </div>
                        <div class="friends-search">
                            <div class="material-icons">search</div>
                        </div>
                    </div>
                    <div class="friends-plus-input-container">
                    </div>    
                    <div class="friends-search-input-container">
                    </div>

                    <div class="friends-window__body">
                        <div class="friends-online">
                            <input class="friends-plus__text" type="text" placeholder="아이디 또는 전화번호" /> 
                            <input class="friends-search__text" type="text" placeholder="" />   
                            <div class="friends-online__bar">
                                <div class="friends-online__count"></div>
                                <li class="friendsGawEI">친구</li>
                                <div id="expandsion" class="material-icons">keyboard_arrow_left</div>
                            </div>
                            <div class="online-list">
                            </div>
                        </div>
                        
                        <div class="friends-waiting">
                            <span id="prev" class="material-icons">chevron_left</span>
                            <span id="next" class="material-icons">chevron_right</span>
                            <div class="friends-waiting__list"></div>
                        </div>

                        <div class="friends-window__bg"></div>
                    </div>
                </div>
            </div>
        </div>
        <footer></footer>
    </div>
</body>
</html>
