<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/subaccount.css" />
    <title>Sub Account</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../static/js/subaccount.js"></script>
</head>
<body>
    <div class="subaccount-container">
        <h2>Account Book for Selected Date</h2>
        <ul id="account-list" class="account-list"></ul>
    </div>
</body>
</html>
