<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journal</title>
    <link rel="stylesheet" href="../css/record.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <!-- 일기장 콘텐츠 -->
    <div class="container">
        <!-- 상단 카테고리 -->
        <div class="header">
            <span class="left-span">
                <a href="../mainpage/mayday.html" class="link">
                    <img src="../image/logo_mayday2.png" alt="Logo">
                </a>
            </span>
            <span class="right-span">
                <div class="menu-item">
                    Category
                    <div class="submenu" id="submenu1">
                        <div onclick="window.location.href='../mainpage/calendarpage.html'">Calendar</div>
                        <div onclick="window.location.href='../accountbook/accountbook.html'">AccountBook</div>
                        <div onclick="window.location.href='../record/record.html'">Record</div>
                        <div>PC Usage</div>
                    </div>
                </div>
                <div class="menu-item">Guide</div>
                <div class="menu-item">Community
                    <div class="submenu" id="submenu3">
                        <div>Friends</div>
                        <div>Groups</div>
                        <div>Share</div>
                    </div>
                </div>
                <div class="menu-item">Setting
                    <div class="submenu" id="submenu4">
                        <div>Setting</div>
                        <a href="../login/login.html">Logout</a>
                    </div>
                </div>
            </span>
        </div>

        <div class="maincontent">
            <div class="journal-list">
                <h2>Record List</h2>
                <ul id="entries">
                    <!-- 작성한 일기의 제목들이 뜸 -->
                </ul>
            </div>
            <div class="journal-editor">
                <h2>Record your story</h2>
                <form id="journalForm">
                    <div class="input-group">
                        <input type="text" id="journalTitle" placeholder="Title" />
                        <input type="date" id="journalDate" />
                    </div>
                    <textarea id="journalContent" placeholder="record your diary here..."></textarea>
                    <br>
                    <button type="button" onclick="saveOrUpdateJournal()">Save/Update</button>
                    <button type="button" onclick="deleteJournal()">Delete</button>
                    <button type="button" onclick="clearForm()">New</button>
                </form>
            </div>
        </div>
    </div>

    <script src="../js/record.js"></script>
</body>
</html>
