<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>Mayday : Calendar</title>
<link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200'>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" />
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Gulzar&display=swap" rel="stylesheet" />
<!-- 화면 해상도에 따라 글자 크기 대응(모바일 대응) -->
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<link rel="stylesheet" href="../css/day.css" />
</head>
<body>

<!-- 모달 -->
<div id="modal" class="modal">
   <div class="modal-content">
       <span id="close-modal" class="close">&times;</span>
       <h3 id="modal-title"></h3>
       <p id="modal-details"></p>
       <p id="modal-place"></p>
       <p id="modal-start-time"></p>
       <p id="modal-end-time"></p>
       <button id="delete-event-btn" class="delete-event-btn">삭제</button>
   </div>
</div>


<div class="wrapper">
    <div class="header" onclick="resetDate()"></div>
    <header>
        <div class="current">
        <div class="current-date"></div>
        <div class="current-year"></div>
        <!-- 일, 주, 월 / 일정 추가 버튼 -->
        <div class="current-toolbar">
         
         <!-- 일정 추가 버튼 -->
         <button id="addEventButton">일정 추가</button>

         <div class="view-buttons">
               <button id="month-view">월</button>
               <button id="week-view">주</button>
               <button id="day-view">일</button>
         </div>
         
        </div>

        </div>
        <div class="icons">
            <span id="prev" class="material-symbols-rounded">chevron_left</span>

            <span id="next" class="material-symbols-rounded">chevron_right</span>
        </div>
    </header>
    <div>
      <div>
         <!-- 일 단위 헤드 부분 -->
         <div class="day-area">
            <div></div>
            <div class="daydate">
               <!-- 날짜 표시 부분 -->
               <div class="datehead">
                  <h2 class="datehead__h2">
                     <div class="day"></div>
                     <div class="date"></div>
                  </h2>
               </div>
               <div class="daydate__emt"></div>
            </div>
            <!-- 스크롤 만큼 늘리기 부분 -->
            <div aria-hidden="true" class="end-edge"></div>
         </div>

         <!-- 일 단위 바디 부분 -->
         <div class="event">
            <!-- 작은 날짜 표시 바 -->
            <div>
               <div class="">

               </div>
            </div> 

            <!-- 이벤트 공간 -->
            <div class="event-area">
               <!-- 이벤트 바 -->
                <div>
                  <div class="event-bar">
                     <div class="event-bar__colortack"></div>
                     <div class="event-bar__title">
                        <li class="event-bar__content event-text">title</li>
                     </div>
                     <div class="event-bar__time event-text">
                        <div class="event-bar__alltime" aria-hidden="true">종일</div>
                        <div class="event-bar__starttime">08:00</div>
                        <div></div>
                        <div class="event-bar__endtime">08:00</div>
                     </div>
                  </div>

                  <div class="none-events">이벤트 없음</div>
               </div>
            </div>

         </div>
      </div>
      
    </div>
   
</div>     
<script  src="../js/day.js"></script>
</body>
</html>