<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/subcalendar.css" />
    <title>Sub Calendar</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../static/js/subcalendar.js"></script>
</head>
<body>
    <div class="subcalendar-container">
        <h2>Schedules for Selected Date</h2>
        <ul id="schedule-list" class="schedule-list"></ul>
    </div>
</body>
</html>
